!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "Halil Aliyew", name: "author"}/
    %meta{content: "HTML, CSS, stylus, fansybox, JavaScript", name: "keywords"}/
    %meta{content: "website created by codertime.site  design landing page downloaded from the Internet", name: "description"}/
    / <base href="https://stroitehnika1.codertime.site">
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "dist/img/ЛОГО-СТРОЙТЕНИКА-ЧЕРНЫЙ-—-ПЕСОК.png", rel: "icon", title: "helli", type: "image/x-icon"}/
    %link{href: "dist/fonts/fontello/css/fontello.css", rel: "stylesheet"}/
    %link{href: "dist/fonts/font-awesome/css/all.min.css", rel: "stylesheet"}/
    %link{href: "dist/fonts/icomoon/style.css", rel: "stylesheet"}/
    %link{href: "dist/fonts/romoto/stylesheet.css", rel: "stylesheet"}/
    %link{href: "dist/css/stylesheets.min.css", rel: "stylesheet"}/
    %link{href: "style.css", rel: "stylesheet"}/
    %title{title: "website created by codertime.site  design multi-page downloaded from the Internet"}
      stroitehnika1
  %body
    %header
      .header__block.container
    %main
