
<header>
    <div class="header__block container flex">
        <div class="header__block__left">
            <h1>Portfolio Websites</h1>
        </div>
        <div class="header__block__right">
            <p>
                A portfolio website can cover a lot of bases. Generally speaking, professionals, agencies,
                freelancers and artists require a creative medium to display their work. This is why website
                portfolios, or other sites in which content is the number one focus, are some of the most popular
                and valuable projects for people looking for inspiration for their own work.
            </p>
            <p>Best selection of Portfolio Website examples for your inspiration.</p>
        </div>
    </div>
</header>
